.title {
  font-size: 23px;
  font-weight: 700;
}

.slider-container {
  margin: 20px;
  cursor: -webkit-grab;
  cursor: grab;
}

.card-container {
  margin-top: 20px;

  box-shadow: 5px -2px 5px 0px rgb(0 0 0 / 30%);
  border-radius: 15px;
  background-color: white;
  padding: 8px 15px 30px 15px;

  max-width: 337px;
}

.card-top {
  text-align: center;
  margin-top: 15px;
}

.day {
  font-size: 18px;
  font-weight: 600;
}

.icon-desc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin-inline: auto;
}

.icon-small {
  width: 100px;
}

.icon-desc-container .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-temp {
  font-size: 40px;
}

.max-min-temp-container {
  text-align: right;
  padding-right: 25px;

  margin-bottom: 15px;
}

.daily-details-grid {
  text-transform: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;

  font-weight: 500;
  font-size: 13px;

  margin-bottom: 20px;
}

.daily-details-grid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  letter-spacing: -0.5px;
}

@media screen and (max-width: 680px) {
  .icon-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .max-min-temp-container {
    text-align: center;
    margin-bottom: 15px;
  }

  .icon-desc-container {
    justify-content: center;
  }

  .max-min-temp-container {
    text-align: center;
    padding-right: 0px;
  }

  .daily-details-grid {
    display: block;
  }
}
