body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(209, 239, 255, 1) 50%,
      rgba(245, 255, 255, 1) 100%
    )
    no-repeat fixed center;

  text-transform: uppercase;
}
